.outerpanel {
    background-color: black;
    height: 550px;
    width: 400px;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
}

.outerpanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.display {
    background-color: rgb(151, 154, 152);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
}

.userInput {
    padding: 5px;
    font-size: 20px;
    height: 30px;
}

.output {
    font-size: 32px;
    padding: 5px;
}

.buttonPanel {
    height: 400px;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(4, 70px);
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    padding: 10px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.clear,
.number,
.operator,
#equal {
    border-radius: 15%;
    font-size: 30px;
    font-weight: bold;
}

.number:hover,
.operator:hover,
.clear:hover {
    background-color: rgb(153, 153, 214);
}

#equal {
    background-color: orange;
}

#equal:hover {
    background-color: rgb(153, 153, 214);
}